<section class="row mt-5">
  <div class="col">
    <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalSocioeduc">New socioeduc</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Escuela</th>
          <th scope="col">Alumno DNI</th>
          <th scope="col">Alumno</th>
          <th scope="col">Ticket</th>
          <th scope="col">Circuito</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let socioeduc of socioeducs; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{socioeduc.escuela}}</td>
          <td>{{socioeduc.alumno_dni}}</td>
          <td>{{socioeduc.alumno}}</td>
          <td>{{socioeduc.ticket}}</td>
          <td>{{socioeduc.circuito}}</td>
          <td *ngIf="socioeduc.userUid == userUid || isAdmin == true; else noOwner">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalSocioeduc" (click)="onPreUpdatesocioeduc(socioeduc)">Update</button>
          </td>
          <ng-template #noOwner>
            <td>
              <button class="btn btn-secondary" disabled="true">Update</button>
            </td>
          </ng-template>
          <td *ngIf="isAdmin == true; else noAdmin">
            <button class="btn btn-danger" (click)="onDeletesocioeduc(socioeduc.id)">Delete</button>
          </td>
          <ng-template #noAdmin>
            <td>
              <button class="btn btn-danger" disabled="true">Delete</button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<app-modal-socioeduc [userUid]="userUid"></app-modal-socioeduc>